* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(197, 197, 197);
    background-image: url('../src/img/todo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: 300;
    font-family: Arial, sans-serif;
    padding: 5px;
    height: 100vh;
    overflow: hidden;
}
.app {
    position: relative;
    text-align: center;
    padding: 0 40px;
    padding-top: 20px;
    background-color:rgb(18, 19, 25);
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.toda-Lista{
    font-size: 1.3rem;
   
}
.todo{
    display: flex;
    text-align: left;
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.content{
    width: 100%;
}
h1{
    margin-bottom: 20px;
}
h2{ color: black;
    text-align: left;
    margin: 0 0px 20px ;
}
.btn{
    display: flex;
    align-items: center;
}

button{
    height: 30px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    opacity: .7;
    transition: opacity 0.3s;
}

button:hover{
    opacity: 1;
}

.btn-delete{
    background-color: rgba(255, 0, 0, 0.595);
    color: white;
}

.btn-complete{
    background-color: rgb(21, 91, 0);
    color: white;
}

.div-form{
    position: sticky;
    z-index: 1;
    bottom: 10px;
    background-color: rgb(201, 201, 201);
    padding:   10px 20px;
}

input, select{
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(238, 238, 238);
    width: 100%;
    border-radius: 3px;
    font-size: 1.3rem;
}